In [1]:
myAge= 27

In [3]:
print(myAge)

27

In [4]:
print(myAge/3)

9.0

In [5]:
myAge = myAge+3

In [6]:
print(myAge)

30

In [7]:
restaurantBill = 36.17

In [8]:
print(restaurantBill)

36.17

In [9]:
serviceCharge = 0.125

In [10]:
 print(restaurantBill*serviceCharge)

4.52125

In [11]:
type(serviceCharge)

float

In [12]:
type('a')

str

In [14]:
type("Hello")

str

In [15]:
firstNum = 3
SecondNum =5
ThirdNum=7

primeNumbers = [firstNum,SecondNum,ThirdNum]

In [16]:
print(primeNumbers)

[3, 5, 7]

In [17]:
type(primeNumbers)

list

In [21]:
import pandas as pd
data = pd.read_csv('math_score_data.csv')

In [22]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [23]:
type(data)

pandas.core.frame.DataFrame

In [25]:
data['Avg_Math_Test_Score']

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [26]:
onlyMathScore = data['Avg_Math_Test_Score']

In [27]:
print(onlyMathScore)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [28]:
data['Test_Data'] = 'Jennifer Data'

In [29]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score      Test_Data
0                      5     1.17                78.93  Jennifer Data
1                     15     2.97                58.20  Jennifer Data
2                     30     3.26                67.47  Jennifer Data
3                     60     4.69                37.47  Jennifer Data
4                    120     5.83                45.65  Jennifer Data
5                    240     6.00                32.92  Jennifer Data
6                    480     6.41                29.97  Jennifer Data

In [30]:
data['HighScores'] = 100

In [31]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score      Test_Data  \
0                      5     1.17                78.93  Jennifer Data
1                     15     2.97                58.20  Jennifer Data
2                     30     3.26                67.47  Jennifer Data
3                     60     4.69                37.47  Jennifer Data
4                    120     5.83                45.65  Jennifer Data
5                    240     6.00                32.92  Jennifer Data
6                    480     6.41                29.97  Jennifer Data

   HighScores
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [40]:
data['HighScores']= data['HighScores'] + data['Avg_Math_Test_Score']

In [41]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score      Test_Data  \
0                      5     1.17                78.93  Jennifer Data
1                     15     2.97                58.20  Jennifer Data
2                     30     3.26                67.47  Jennifer Data
3                     60     4.69                37.47  Jennifer Data
4                    120     5.83                45.65  Jennifer Data
5                    240     6.00                32.92  Jennifer Data
6                    480     6.41                29.97  Jennifer Data

   HighScores
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97