# Introduction to Scikit Learn
Some of most amazing functions of Great scikit-learn Library
00- Import Useful Libraries
01-Getting Data Ready
02-Choose right model
03-Evaluating Model
04-Improve Model
05-Save and Reload Model
06-Putting all together

In [14]:
# Useful Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# 01 Getting Data Ready For ML
3 main Things

1) Split Data into Features and Targets x and Y
2) Filling(Imputing), or Removing the missing Values
3) Convert Non numberical values to numerical Values

In [15]:
heart_disease= pd.read_csv("heart_disease.csv")

In [16]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [17]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [18]:
x = heardisease.drop("target",axis=1)

NameError: name 'heardisease' is not defined

In [ ]:
x.head()

In [ ]:
y= heardisease["target"]

In [ ]:
y.head()

In [ ]:
# Split Data into trainings and Tests

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2)

x_train.shape,x_test.shape,y_train.shape,y_test.shape

In [ ]:
 x.shape

In [ ]:
len(heart_disease)

# Make Sure its All Numeric Data

In [ ]:
carSales=pd.read_csv("car-sales-extended.csv")

In [ ]:
carSales.head

In [ ]:
len(carSales)

In [ ]:
carSales.dtypes

In [ ]:
x = carSales.drop("Price",axis=1)
y = carSales["Price"]

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
# Build Machine Learning Model

from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier()

model.fit (x_train,y_train)

model.score (x_test,y_test)

In [ ]:
# Turn Categories into Numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


categorical_features = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer= ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")

transforme_x =transformer.fit_transform(x)
transforme_x

In [ ]:
pd.DataFrame(transforme_x

In [ ]:
dummies=pd.get_dummies(carSales[["Make","Colour","Doors"]])
dummies

In [ ]:
# Refit the Model
np.random.seed(42)
x_train,x_test,y_train,y_test = train_test_split(transforme_x,y,test_size=0.2)

model.fit(x_train,y_train)

In [ ]:
x.head()

In [ ]:
model.score(x_test,y_test)

# Dealing with Missing Values

In [ ]:
car_Sales_missing_Values = pd.read_csv("car-sales-extended-missing-data.csv")

In [20]:
car_Sales_missing_Values.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [21]:
car_Sales_missing_Values.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [ ]:
#Create Features and Target X,Y

x = car_Sales_missing_Values.drop("Price",axis=1)
y = car_Sales_missing_Values["Price"]

In [ ]:
# Turn Categories into Nummbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


categorical_features = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer= ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")

transforme_x =transformer.fit_transform(x)
transforme_x

In [36]:
car_Sales_missing_Values["Doors"].value_counts()

4.0    861
5.0     75
3.0     64
Name: Doors, dtype: int64

In [38]:
# Fill The Make Column
car_Sales_missing_Values["Make"].fillna("missing",inplace = True)

#Fill The Colour Column
car_Sales_missing_Values["Colour"].fillna("missing",inplace = True)
#Fill The Doors Column
car_Sales_missing_Values["Doors"].fillna(4,inplace = True)
#Fill Th ODOMETER Column
car_Sales_missing_Values["Odometer (KM)"].fillna(car_Sales_missing_Values["Odometer (KM)"].mean(),inplace = True)

In [39]:
#Checkout Data Frame Again

car_Sales_missing_Values.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [40]:
# Remove Rows with Missing Value

car_Sales_missing_Values.dropna(inplace = True)
car_Sales_missing_Values.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [41]:
len(car_Sales_missing_Values)

950

In [42]:
 #Create Features and Target X,Y

x = car_Sales_missing_Values.drop("Price",axis=1)
y = car_Sales_missing_Values["Price"]

In [43]:
# Turn Categories into Nummbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


categorical_features = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer= ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")

transforme_x =transformer.fit_transform(car_Sales_missing_Values)
transforme_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

In [ ]:
Fill Missing Values With SciKit Learn